# arch2ramos GRUB entries
# arch2ram-install writes this automatically.
# Manual install: add to /etc/grub.d/40_custom (or proxifiedScripts/custom if using grub-customizer)
# then run: sudo grub-mkconfig -o /boot/grub/grub.cfg
#
# IMPORTANT: ensure GRUB_TIMEOUT in /etc/default/grub is long enough (>=5s)
# to select this entry before the default boots.

# --- Arch Linux from RAM ---
menuentry "Arch Linux from RAM" --class arch --class gnu-linux --class os {
    insmod fat
    insmod part_gpt
    set root='hd0,gpt1'
    linux  /arch2ram-vmlinuz console=tty0 console=tty1 rdinit=/init nomodeset
    initrd /arch2ram-initrd-ucode.img /arch2ram-initrd.gz
}
