[Unit]
Description=arch2ramos gamescope + EmulationStation launcher
ConditionKernelCommandLine=arch2ram.mode=emulationstation
After=systemd-user-sessions.service arch2ram-drm-fixup.service
Conflicts=getty@tty1.service
After=getty@tty1.service

[Service]
Type=simple
AmbientCapabilities=
User=Guy008
Group=Guy008
PAMName=login
WorkingDirectory=/home/Guy008
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
UtmpIdentifier=tty1
UtmpMode=user
ExecStart=/usr/local/bin/arch2ram-emulationstation
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
